absl-py==2.2.2
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
altair==5.5.0
astunparse==1.6.3
attrs==25.3.0
beautifulsoup4==4.13.4
blinker==1.9.0
cachetools==5.5.2
cattrs==24.1.3
cbor==1.0.0
certifi==2024.7.4
cffi==1.17.1
charset-normalizer==3.3.2
chest==0.2.3
click==8.1.8
colorama==0.4.6
contourpy==1.2.1
cryptography==44.0.3
cycler==0.12.1
datasets==3.5.1
Deprecated==1.2.18
dill==0.3.8
et_xmlfile==2.0.0
filelock==3.18.0
Flask==3.1.0
flatbuffers==25.2.10
fonttools==4.53.1
frozenlist==1.6.0
fsspec==2025.3.0
gast==0.6.0
gensim==4.3.3
gitdb==4.0.12
GitPython==3.1.44
google-pasta==0.2.0
grpcio==1.71.0
h5py==3.13.0
HeapDict==1.0.1
huggingface-hub==0.30.2
idna==3.7
ijson==3.4.0
inflect==7.5.0
inscriptis==2.6.0
ir_datasets==0.5.10
ir_measures==0.3.7
itsdangerous==2.2.0
Jinja2==3.1.5
joblib==1.5.0
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
kafka-python==2.2.4
kagglehub==0.3.12
keras==3.9.2
kiwisolver==1.4.5
libclang==18.1.1
lxml==5.4.0
lz4==4.4.4
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.1
mdurl==0.1.2
ml_dtypes==0.5.1
more-itertools==10.7.0
mplcursors==0.5.3
mplsoccer==1.2.4
mpmath==1.3.0
multidict==6.4.3
multiprocess==0.70.16
namex==0.0.9
narwhals==1.38.2
networkx==3.4.2
nltk==3.9.1
numpy==1.26.4
opencv-python==4.10.0.84
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.15.0
packaging==24.1
pandas==2.2.2
patsy==1.0.1
pdfminer.six==20250327
pdfplumber==0.11.6
pillow==10.4.0
platformdirs==4.3.7
propcache==0.3.1
protobuf==5.29.4
pyarrow==20.0.0
pycparser==2.22
pydeck==0.9.1
Pygments==2.19.1
pyjnius==1.6.1
pyodbc==5.1.0
pyparsing==3.1.2
pypdfium2==4.30.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyterrier==0.1.5
python-dateutil==2.9.0.post0
python-terrier==0.13.0
pytrec_eval-terrier==0.5.7
pytz==2024.1
PyYAML==6.0.2
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-cache==1.2.1
rich==14.0.0
rpds-py==0.24.0
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2
sentence-transformers==4.1.0
six==1.16.0
smart-open==7.1.0
smmap==5.0.2
soupsieve==2.7
statsbombpy==1.16.0
statsmodels==0.14.4
streamlit==1.45.0
sympy==1.14.0
tenacity==9.1.2
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.37.1
termcolor==3.1.0
tf_keras==2.19.0
threadpoolctl==3.6.0
tokenizers==0.21.1
toml==0.10.2
torch==2.7.0
tornado==6.4.2
tqdm==4.67.1
transformers==4.51.3
trec-car-tools==2.6
typeguard==4.4.2
typing_extensions==4.13.2
tzdata==2024.1
unlzw3==0.2.3
url-normalize==2.2.1
urllib3==2.2.2
warc3-wet==0.2.5
warc3-wet-clueweb09==0.2.5
watchdog==6.0.0
Werkzeug==3.1.3
wget==3.2
wrapt==1.17.2
xxhash==3.5.0
yarl==1.20.0
zlib-state==0.1.9
rank_bm25==0.2.2
